/* 
style.css - Main Theme Styles
---------------------------------
****** TABLE OF CONTENTS: *****
---------------------------------
1.0 - style.scss
	1.1 - @import(s) 
----------------------------------
2.0 - base
    2.1 - global.scss        
    2.2 - normalize.scss
----------------------------------
3.0 - components
	3.1 - buttons.scss
    3.2 - fonts.scss
    3.3 - infobox.scss
    3.4 - inputs.scss
----------------------------------
4.0 - layout
    4.1 - about.scss
    4.2 - footer.scss
    4.3 - header.scss
    4.4 - navbar.scss
    4.5 - grid.scss
    4.6 - appointment.scss
    4.7 - team.scss
    4.8 - contacts.scss
    4.9 - feature.scss
----------------------------------
5.0 - utils
    5.1 - mixins.scss
    5.2 - variables.scss
----------------------------------

----------------------------------
*** End of TABLE OF CONTENTS *** 
----------------------------------
*/
/*----------------------------------------------------------------------------------*/
/* utils - Variables (zmienne) and mixins - global settings used by all files */
/* Font Family */
/* Element Colours */
/* Containers - view on mobile/tablet/desktop  */
/* Mobile breakpoints for @media */
/* Flexboxes */
/*base*/
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden], template {
  display: none;
}

html {
  background: #fff;
  color: #000;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}

body {
  margin: 0;
}

a {
  background: transparent;
}

a:focus {
  outline: thin dotted;
}

a:hover, a:active {
  outline: 0;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}

h3 {
  font-size: 1.17em;
  margin: 1em 0;
}

h4 {
  font-size: 1em;
  margin: 1.33em 0;
}

h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}

h6 {
  font-size: 0.75em;
  margin: 2.33em 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

q:before, q:after {
  content: '';
  content: none;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 0;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}

button, input {
  line-height: normal;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
input[disabled] {
  cursor: default;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

/* Box sizing */
* {
  box-sizing: border-box;
}

/* Base styling */
body {
  font-family: "Roboto", sans-serif;
  color: #888888;
}

/* Base containers */
section {
  padding: 30px 0;
}

section .section-header {
  text-align: center;
  margin-bottom: 40px;
}

section .section-header p {
  margin: auto;
  font-weight: 300;
  max-width: 70%;
}

@media all and (min-width: 768px) {
  section .section-header p {
    max-width: 70%;
  }
}

.container {
  max-width: 100%;
  width: 100%;
  padding: 0 23px;
  margin: 0 auto;
}

/* Headers, paragraphs */
h1, h2, h3, h4, h5, h6 {
  font-family: "Bellota", cursive;
  color: #555;
}

h2 {
  font-size: 42px;
}

h3 {
  font-size: 22px;
}

button,
a {
  transition: all .3s;
}

p {
  line-height: 1.5;
}

/* breakpoints - @media for scaling */
/* >992px */
@media all and (min-width: 992px) {
  .container {
    max-width: 960px;
  }
  section {
    padding: 60px 0;
  }
}

/* >1200px */
@media all and (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

/*layout*/
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
  background-color: #fff;
  padding: 12px 0;
  /* for bigger resolution, set @media here */
}

.navbar .navbar-logo-holder {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.navbar .navbar-logo {
  height: 50px;
  display: inline-block;
}

.navbar .navbar-logo img {
  height: 100%;
}

.navbar .hamburger-open, .navbar .hamburger-closed {
  font-size: 28px;
  line-height: 50px;
  cursor: pointer;
}

.navbar .hamburger-open {
  color: #1ba4ce;
}

.navbar .hamburger-closed {
  color: #fff;
  text-align: right;
  height: 50px;
}

.navbar .navbar-collapse {
  position: fixed;
  background-color: #1ba4ce;
  top: 0;
  right: 0;
  max-width: 480px;
  width: 480px;
  text-align: right;
  padding: 12px 23px;
  display: none;
}

.navbar .navbar-collapse.open {
  display: block;
}

.navbar .navbar-collapse .menu {
  list-style: none;
}

.navbar .navbar-collapse .menu .menu-item {
  font-size: 50px;
  text-transform: uppercase;
}

.navbar .navbar-collapse .menu .menu-item a {
  color: #fff;
  text-decoration: none;
}

@media all and (min-width: 992px) {
  .navbar {
    /* turn off hamburger icons on bigger resolution*/
  }
  .navbar .navbar-logo-holder {
    justify-content: flex-start;
  }
  .navbar .navbar-logo {
    height: 80px;
  }
  .navbar .hamburger-open, .navbar .hamburger-closed {
    display: none;
  }
  .navbar .navbar-collapse {
    display: block;
    position: static;
    background-color: transparent;
    width: auto;
    max-width: 100%;
    padding: 0;
    align-self: flex-start;
  }
  .navbar .navbar-collapse .menu {
    background-color: #fff;
  }
  .navbar .navbar-collapse .menu .menu-item {
    display: inline-block;
    margin: 0 20px;
  }
  .navbar .navbar-collapse .menu .menu-item a {
    color: #473452;
    font-weight: 700;
    font-size: initial;
  }
}

.main-banner {
  height: 700px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  /*Header text*/
  /*Buttons*/
  /*Images on the main banner*/
  /*For the main background image to display on extra-large resolution*/
  /*For the main background image to display on large resolution*/
  /*For the main background image to display on extra-small resolution*/
}

.main-banner .main-banner-subheader {
  color: #555;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-family: "Bellota", cursive;
  font-weight: 700;
}

.main-banner h1 {
  color: #1e2528;
  font-size: 50px;
}

.main-banner .main-banner-paragraph {
  color: #555;
}

.main-banner .main-banner-btn {
  margin-top: 40px;
}

.main-banner .main-banner-btn .reserve {
  display: inline-block;
  padding: 14px 20px;
  color: #fff;
  background-color: #1ba4ce;
  text-decoration: none;
  /*change btn color after hover*/
}

.main-banner .main-banner-btn .reserve:hover {
  background-color: #30383b;
}

.main-banner .main-banner-btn .watch {
  color: #473452;
  display: inline-block;
  margin-left: 15px;
  text-decoration: none;
}

.main-banner .main-banner-btn .watch i {
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 40px;
  border: 1px solid #473452;
  border-radius: 50%;
  transform: all .3s;
  margin-left: 15px;
  margin-right: 5px;
}

.main-banner .header-bg-img {
  position: absolute;
  top: 0;
  right: 0;
  max-width: 30%;
  z-index: 10000;
  display: none;
}

.main-banner .header-flowers {
  max-width: 8%;
  position: absolute;
  left: 0;
  top: 35%;
  z-index: -1;
}

@media all and (min-width: 1200px) {
  .main-banner .header-bg-img {
    max-width: 40%;
  }
}

@media all and (min-width: 992px) {
  .main-banner .main-banner-holder {
    width: 60%;
  }
  .main-banner .header-bg-img {
    display: block;
  }
}

@media all and (min-width: 480px) {
  .main-banner .main-banner-btn .reserve,
  .main-banner .main-banner-btn .watch {
    margin: 0;
  }
}

.about {
  text-align: center;
}

.about .about-header img {
  max-width: 100px;
}

.about .about-header .about-subheader {
  color: #473452;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 0;
}

.about-text {
  max-width: 960px;
  font-weight: 300;
  margin: 0 auto;
  margin: 26px;
}

/* Grids- column sections*/
.row {
  display: flex;
  flex-wrap: wrap;
}

.col {
  width: 100%;
}

/*Services will display in 2 columns on medium resolution*/
@media all and (min-width: 768px) {
  .col-md-50p {
    width: 50%;
  }
  .col-md-33p {
    width: 33.33%;
  }
  .col-md-66p {
    width: 66.66%;
  }
}

/*Services will display in 4 columns on large resolution*/
@media all and (min-width: 992px) {
  .col-lg-25p {
    width: 25%;
  }
}

.services .service {
  position: relative;
  height: 340px;
}

.services .service img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.services .service .service-overlay {
  position: absolute;
  background-color: rgba(27, 164, 206, 0.6);
  top: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  opacity: 0;
  transition: all .3s;
}

.services .service .service-overlay:hover {
  opacity: 1;
}

.services .service .service-overlay img {
  width: 60px;
  height: auto;
}

.services .service .service-overlay h3 {
  color: #fff;
}

@media all and (min-width: 768px) {
  .services .service {
    height: 400px;
  }
}

.appointment {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.appointment .desktop-background {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 40%;
  display: none;
}

.appointment form {
  width: 100%;
  background-color: #1ba4ce;
  padding: 80px 40px;
}

.appointment form .appointment-message {
  width: 100%;
  display: none;
}

.appointment form .appointment-message.error {
  color: #f00;
  display: block;
}

.appointment form .appointment-message.send {
  color: #fff;
  display: block;
}

@media all and (min-width: 992px) {
  .appointment .desktop-background {
    display: block;
  }
  .appointment form {
    width: 60%;
    padding: 80px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .appointment form input,
  .appointment form select {
    width: 49%;
  }
  .appointment form textarea {
    margin: 60px 0;
  }
}

.team {
  padding-bottom: 200px;
}

.contact {
  color: #fff;
  background-color: #1ba4ce;
}

.contact .section-header {
  color: #fff;
}

.contact .section-header h2 {
  color: #fff;
}

.contact .contact-data {
  padding: 25px 0;
  margin-bottom: 30px;
}

.contact .contact-item {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  text-transform: uppercase;
  justify-content: center;
}

.contact .contact-item .img-holder {
  width: 15%;
  margin-right: 10px;
  text-align: center;
}

.contact .contact-item .img-holder img {
  width: 30px;
}

.contact .contact-item a {
  color: #fff;
  text-decoration: none;
}

.contact .contact-item a:hover {
  text-decoration: underline;
}

@media all and (min-width: 768px) {
  .contact .contact-item {
    justify-content: flex-start;
  }
  .contact .contact-form {
    padding: 25px 0;
  }
}

.page-footer {
  text-align: center;
  padding: 30px 0;
}

.page-footer img {
  width: 100px;
}

.page-footer .footer-nav .menu {
  list-style: none;
  background-color: #fff;
  padding: 20px 0;
}

.page-footer .footer-nav .menu .menu-item {
  display: inline-block;
  margin: 0 20px;
  font-size: initial;
  text-transform: uppercase;
}

.page-footer .footer-nav .menu .menu-item a {
  color: #473452;
  font-weight: 700;
  text-decoration: none;
}

.page-footer .footer-nav .menu .menu-item {
  padding: 15px 0;
}

/*components*/
.btn-primary, .btn-secondary, .btn-form {
  border-radius: 30px;
  display: inline-block;
  padding: 15px 35px;
  text-transform: uppercase;
  text-decoration: none;
  border: 0;
  color: #fff;
}

.btn-primary {
  background-color: #1ba4ce;
}

.btn-primary:hover {
  background-color: #30383b;
}

.btn-secondary {
  background-color: #30383b;
}

.btn-secondary:hover {
  background-color: #1ba4ce;
}

.btn-form {
  background-color: #fff;
  color: #555;
  font-weight: 700;
}

.btn-form:hover {
  background-color: #473452;
  color: #fff;
}

.infobox, .infobox-team {
  padding: 0 10px;
  margin-top: 30px;
  text-align: center;
}

/* Box shadows*/
.infobox .infobox-inner {
  border: 1px solid #e2e5ea;
  padding: 25px;
  border-radius: 2px;
}

.infobox .infobox-inner:hover {
  box-shadow: 0 5px 20px #f0f0f0;
}

.infobox .infobox-inner .meta {
  font-size: 12px;
  text-transform: uppercase;
  margin-top: 25px;
}

.infobox .infobox-inner .meta .category {
  margin-right: 5px;
  text-decoration: none;
  color: inherit;
}

.infobox .infobox-inner .meta .post-date {
  margin-left: 5px;
  text-decoration: none;
  color: inherit;
}

.infobox .infobox-inner img {
  width: 100%;
}

.infobox .infobox-inner p {
  font-weight: 300;
  margin-bottom: 30px;
}

.infobox-team {
  margin-top: 60px;
  position: relative;
}

.infobox-team img {
  width: 100%;
}

.infobox-team .infobox-team-caption {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  width: 80%;
  bottom: -50px;
  background-color: #fff;
  transition: all .3s;
}

.infobox-team .infobox-team-caption:hover {
  box-shadow: 0 5px 20px #f0f0f0;
  padding-bottom: 30px;
}

.infobox-team .infobox-team-caption:hover .team-social-icons {
  height: 35px;
}

.infobox-team .infobox-team-caption .team-social-icons {
  transition: all .3s;
  height: 0;
  overflow: hidden;
}

.infobox-team .infobox-team-caption .team-social-icons a {
  height: 35px;
  width: 35px;
  font-size: 20px;
  display: inline-block;
  line-height: 35px;
  text-align: center;
  border: 1px solid #473452;
  color: #473452;
  border-radius: 50%;
  margin: 0 10px;
}

.infobox-team .infobox-team-caption .team-social-icons a:hover {
  border: 1px solid #1ba4ce;
  color: #fff;
  background-color: #1ba4ce;
  box-shadow: 0 5px 20px #f0f0f0;
}

input,
textarea,
select {
  width: 100%;
  border: 0;
  border-bottom: 1px solid #fff;
  background-color: #1ba4ce;
  display: inline-block;
  padding: 15px;
  margin-bottom: 15px;
  color: #fff;
  text-transform: uppercase;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder,
select::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #fff;
}

input::-moz-placeholder,
textarea::-moz-placeholder,
select::-moz-placeholder {
  /* Firefox 19+ */
  color: #fff;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder,
select:-ms-input-placeholder {
  /* IE 10+ */
  color: #fff;
}

input:-moz-placeholder,
textarea:-moz-placeholder,
select:-moz-placeholder {
  /* Firefox 18- */
  color: #fff;
}

input.error,
textarea.error,
select.error {
  border-bottom: 1px solid #f00;
}

textarea {
  height: 100px;
}
/*# sourceMappingURL=style.css.map */