.about {
    text-align: center;

    .about-header {
        img {
            max-width: 100px;
        }

        .about-subheader {
            color: $color-accent-font;
            text-transform: uppercase;
            letter-spacing: 2px;
            margin-bottom: 0;
        }

    }
}


    .about-text {
        max-width: 960px;
        font-weight: 300;
        margin: 0 auto; //center
        margin: 26px;

    }